<!-- your html code here -->
<div class="card my-3 overflow-hidden" >
    <div class="d-flex row p-4 border-top border-info">
      <div class="col-8">
        <div class="card-body">
            <h3 class="">This First Heading <a class="text-muted text-decoration-none">Will Catch Your Eye</a></h3>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint maiores ad officiis animi delectus. Exercitationem aspernatur placeat alias incidunt corrupti, omnis saepe ipsum iste facilis doloremque molestias vel itaque quia..</p>
        </div>
      </div>

      <div class="col-4">
        <img src="assets/img/1.jpg" class="img-fluid rounded-circle  " alt="...">
      </div>
    </div>
</div>