<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<section id="portfolio" class="container-fluid py-5">

  <h2>Portfolio</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, laborum iusto! Corrupti accusantium
    consectetur dignissimos voluptatibus. Dolores nostrum modi, quaerat corporis nobis, minus iusto qui
    velit labore animi consequatur maiores.
  </p>

  <div class="row">
    <div class="col-md-4 mb-4">
      <img class="img-fluid mb-3"
        src="/website/assets/img/big-project-image.png"
        alt="Project Image">
      <h4 style="color:#000066">Project Name</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, totam architecto, magni veniam.</p>
    </div>

    <div class="col-md-4 mb-4">
      <img class="img-fluid mb-3"
        src="/website/assets/img/big-project-image.png"
        alt="Project Image">
      <h4 style="color:#000066">Project Name</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, totam architecto, magni veniam.</p>
    </div>

    <div class="col-md-4 mb-4">
      <img class="img-fluid mb-3"
        src="/website/assets/img/big-project-image.png"
        alt="Project Image">
      <h4 style="color:#000066">Project Name</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, totam architecto, magni veniam.</p>
    </div>
  </div>
</section>

</body>
</html>
